body {
    background: #f3f3f3;
}

.header {
    margin: 30px 80px;
}
@media screen and (max-width : 767px) {
    .header {
        margin: 20px 20px;
    }
}


.header_inner {
    display: flex;
}


.header_title {
    font-weight: bold;
    font-size: 24px;
    color: rgb(112, 201, 53);
    margin-left: 14px;
}

.menu_button {
    width: 30px;
    height: 32px;
    position: relative;
    border: 2px solid rgb(112, 201, 53);
    background-color: rgb(112, 201, 53);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
}

.hamburger_bar {
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    background: #ffffff;
}

.hamburger_bar:nth-child(1) {
    top: 30%;
    left: 20%;
    width: 30%;
}

.hamburger_bar:nth-child(2) {
    top: 50%;
    left: 20%;
    width: 60%;

}

.hamburger_bar:nth-child(3) {
    top: 70%;
    left: 20%;
    width: 20%;

}


.shop-register_container {
    margin: 80px 80px;
    text-align: center;
}

.content-title {
    margin-bottom: 30px;
}

.form-title {
    margin: 30px auto 0;
    width: 50%;
    height: 40px;
    display: flex;
}
@media screen and (max-width: 1024px) {
    .form-title {
        width: 100%;
        display: block;
    }
}

.form-title-inner {
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    margin: auto 0;
}
@media screen and (max-width: 1024px) {
    .form-title-inner {
        width: 100%;
    }
}

.form-input {
    width: 70%;
    border-radius: 4px;
    border: 1px solid rgb(199, 199, 199);
}
@media screen and (max-width: 1024px) {
    .form-input {
        width: 50%;
    }
}

.button {
    margin: 50px auto 0;
}

.form_button {
    border: 2px solid rgb(112, 201, 53);
    background-color: rgb(112, 201, 53);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
    color: white;
    width: 100px;
}