body {
    background: #f3f3f3;
}

.header {
    margin: 30px 80px;
}
@media screen and (max-width: 1024px) {
    .header {
        margin: 30px 30px;
    }
}

button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

.logout-button {
    font-size: 32px;
    font-weight: bold;
    color: rgb(50, 105, 255);
    border: none;
}

.shop-register_container {
    margin: 40px 80px;
    text-align: center;
}

.content-title {
    margin-bottom: 30px;
}

.form-title {
    margin: 20px auto 0;
    width: 40%;
    display: flex;
}
@media screen and (max-width: 1024px) {
    .form-title {
        width: 100%;
        display: block;
    }
}

.form-title-inner {
    width: 30%;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
    .form-title-inner {
        width: 100%;
    }
}

.form-input {
    width: 70%;
    border-radius: 4px;
    border: 1px solid rgb(199, 199, 199);
}
@media screen and (max-width: 1024px) {
    .form-input {
        width: 50%;
    }
}

.button {
    margin: 20px auto 0;
}

.form_button {
    border: 2px solid rgb(50, 105, 255);
    background-color: rgb(50, 105, 255);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
    color: white;
    width: 60px;
}

.user-list {
    margin: 40px 80px;
    text-align: center;
    border-top: 1px solid rgb(199, 199, 199);
}
@media screen and (max-width : 767px) {
    .user-list {
        margin: 10px 20px;
    }
}
@media screen and (min-width : 768px) and (max-width: 1024px) {
    .user-list {
        margin: 30px 30px;
    }
}

.content-title {
    text-align: center;
}

.search-form {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
@media screen and (max-width : 767px) {
    .search-form {
        width: 100%;
    }
}

.list-table {
    width: 700px;
    margin: 0 auto;
}

.role-select {
    width: 20%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgb(199, 199, 199);
}

.search-name {
    width: 40%;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgb(199, 199, 199);
}

.search-button {
    border: 2px solid rgb(50, 105, 255);
    background-color: rgb(50, 105, 255);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
    color: white;
    width: 60px;
}

table {
    border-collapse: collapse;
}

th, td {
    font-size: 20px;
    padding: 10px 8px;
}

.table {
    overflow: auto;
    white-space: nowrap;
}

.table-td_role {
    font-size: 18px;
    width: 20%;
}
.table-td_name {
    font-size: 18px;
    width: 20%;
}
.table-td_email {
    font-size: 18px;
    width: 40%;
}
.table-delete {
    width: 20%;
}
.delete-button {
    width: 60px;
    font-size: 16px;
    color: white;
    background: rgb(50, 105, 255);
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
}


.form-error {
    color: red;
}