body {
    background: #f3f3f3;
}

.header {
    margin: 30px 80px;
}

@media screen and (max-width : 767px) {
    .header {
        margin: 20px 20px;
    }
}


.header_inner {
    display: flex;
}


.header_title {
    font-weight: bold;
    font-size: 24px;
    color: rgb(112, 201, 53);
    margin-left: 14px;
}

.menu_button {
    width: 30px;
    height: 32px;
    position: relative;
    border: 2px solid rgb(112, 201, 53);
    background-color: rgb(112, 201, 53);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
}

.hamburger_bar {
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    background: #ffffff;
}

.hamburger_bar:nth-child(1) {
    top: 30%;
    left: 20%;
    width: 30%;
}

.hamburger_bar:nth-child(2) {
    top: 50%;
    left: 20%;
    width: 60%;

}

.hamburger_bar:nth-child(3) {
    top: 70%;
    left: 20%;
    width: 20%;

}

button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}


.success-message{
    text-align: center;
    font-size: 26px;
    color: red;
    font-weight: bold;
}

.email-container {
    width: 70%;
    margin: 40px auto;
    text-align: center;
}

.form-subject {
    font-size: 20px;
    font-weight: bold;
}

.input-subject {
    margin-bottom: 18px;
    font-size: 15px;
    width: 40%;
}

@media screen and (max-width : 767px) {
    .input-subject {
        width: 100%;
    }
}

@media screen and (min-width : 768px) and (max-width: 1024px) {
    .input-subject {
        width: 60%;
    }
}

.form-email {
    font-size: 20px;
    font-weight: bold;
}

.select-email {
    margin-bottom: 18px;
    font-size: 16px;
    width: 40%;
}

@media screen and (max-width : 767px) {
    .select-email {
        width: 100%;
    }
}

@media screen and (min-width : 768px) and (max-width: 1024px) {
    .select-email {
        width: 60%;
    }
}

.form-content {
    font-size: 20px;
    font-weight: bold;
}

.form-text {
    margin-bottom: 18px;
    font-size: 15px;
    width: 40%;
}

@media screen and (max-width : 767px) {
    .form-text {
        width: 100%;
    }
}

@media screen and (min-width : 768px) and (max-width: 1024px) {
    .form-text {
        width: 60%;
    }
}


.form-button_inner {
    border: 2px solid rgb(112, 201, 53);
    background-color: rgb(112, 201, 53);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
    color: white;
    width: 120px;
}