@media screen and (max-width : 767px) {
    .header_inner {
        margin: 20px 20px;
    }
}

.container {
    width: 400px;
    height: 230px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 90px auto;
}

.content {
    margin: auto 0;
}

.massage {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    color: rgb(43, 206, 218);
    text-decoration: none;
}

.logout-button {
    font-size: 30px;
    font-weight: bold;
    color: rgb(43, 206, 218);
}
