.container {
    width: 400px;
    height: 230px;
    margin: 40px auto;
    background: white;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
}

.content_title {
    background: rgb(50, 105, 255);
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 4px 4px 0 0;
}

.content_title_registration {
    color: white;
    margin-left: 18px;
}

.form {
    height: 80%;
}

.form_register {
    height: 100%;
    padding: 20px 30px;
}

.form_field {
    height: 40px;
    width: 100%;
}

span {
    display: inline-block;
    width: 7%;
    font-size: 18px;
    vertical-align: sub;
    margin-right: 10px;
}

input {
    border-bottom: 2px solid #757575;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0px;
    width: 90%;
}

input::placeholder {
    color: #000000;
}

.form_button {
    border: 2px solid rgb(50, 105, 255);
    background-color: rgb(50, 105, 255);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 2px 10px;
    text-decoration: none;
}