body {
    background: #f3f3f3;
}

.header {
    margin: 30px 80px;
}

button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}

.back-button {
    font-size: 30px;
    font-weight: bold;
    color: rgb(50, 105, 255);
    border: none;
    text-decoration: none;
}


.list-table {
    width: 70%;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

th,
td {
    font-size: 20px;
    padding: 10px 8px;
}

.table-td_role {
    font-size: 18px;
    width: 20%;
}

.table-td_name {
    font-size: 18px;
    width: 10%;
    text-align: center;
}

.table-td_email {
    font-size: 18px;
    width: 20%;
    text-align: center;
}

.table-td_date {
    width: 10%;
    text-align: center;
    text-align: center;
}

.table-td_time {
    font-size: 18px;
    width: 10%;
    text-align: center;
}

.table-td_number-of-person {
    font-size: 18px;
    width: 10%;
    text-align: center;
}

.delete-button {
    width: 50%;
    font-size: 16px;
    color: white;
    background: rgb(50, 105, 255);
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
}


.email-container {
    width: 70%;
    margin: 20px auto;
    text-align: center;
    border-top: 1px solid rgb(199, 199, 199);
}

.form-subject {
    font-size: 20px;
    font-weight: bold;
}
.input-subject {
    margin-bottom: 18px;
    font-size: 15px;
    width: 40%;
}

.form-email {
    font-size: 20px;
    font-weight: bold;
}
.select-email {
    margin-bottom: 18px;
    font-size: 16px;
    width: 40%;
}

.form-content {
    font-size: 20px;
    font-weight: bold;
}
.form-text {
    margin-bottom: 18px;
    font-size: 15px;
}

.form-button_inner {
    border: 2px solid rgb(50, 105, 255);
    background-color: rgb(50, 105, 255);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
    color: white;
    width: 10%;
}