body {
    background: #f3f3f3;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 80px;
}

.header_inner {
    display: flex;
}


.header_title {
    font-weight: bold;
    font-size: 24px;
    color: rgb(43, 206, 218);
    margin-left: 14px;
}

.menu_button {
    width: 30px;
    height: 32px;
    position: relative;
    border: 2px solid rgb(43, 206, 218);
    background-color: rgb(43, 206, 218);
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
}

.hamburger_bar {
    display: block;
    height: 1px;
    position: absolute;
    left: 0;
    background: #ffffff;
}

.hamburger_bar:nth-child(1) {
    top: 30%;
    left: 20%;
    width: 30%;
}

.hamburger_bar:nth-child(2) {
    top: 50%;
    left: 20%;
    width: 60%;

}

.hamburger_bar:nth-child(3) {
    top: 70%;
    left: 20%;
    width: 20%;

}


button {
    border-color: transparent;
    background: transparent;
    cursor: pointer;
}


.container {
    display: flex;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    .container {
        width: 100%;
        display: block;
    }
}

.container-left {
    width: 40%;
}
@media screen and (max-width: 1024px) {
    .container-left {
        width: 100%;
    }
}

.container-left_wrap {
    border-right: 1px solid #b9b5b5;
    margin: 90px 0;
}

.title {
    text-align: left;
    width: 57%;
    margin: 0 auto 50px;
    font-size: 38px;
}




.favorite-card {
    width: 50%;
    background: white;
    border-radius: 4px;
    box-shadow: 3px 3px 2px rgb(167, 161, 161);
    margin: 0 auto;
}
@media screen and (max-width: 1024px) {
.favorite-card {
        width: 60%;
    }
}

.card-img {
    width: 100%;
    height: 50%;
    border-radius: 4px 4px 0 0;
}

.shop-img {
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
}

.card-content {
    margin: 20px;
}

.card-content_shop-name {
    font-size: 20px;
    font-weight: bold;
}

.card-content_title {
    display: flex;
    justify-content: space-between;
}

.card-content_tag {
    display: flex;
    margin-top: 4px;
    font-size: 14px;
    font-weight: bold;
}

.tag-area {
    margin-right: 5px;
}

.card-content_button {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.detail {
    border: 2px solid rgb(43, 206, 218);
    background-color: rgb(43, 206, 218);
    border-radius: 4px;
    font-size: 12px;
    padding: 4px 20px;
}

.detail-inner {
    text-decoration: none;
    color: white;
}

.favorite-icon {
    width: 30px;
    height: 30px;
}



.container-right {
    width: 60%;
}
@media screen and (max-width: 1024px) {
.container-right {
        width: 100%;
    }
}

.review-title {
    margin: 0 80px;
}
@media screen and (max-width: 1024px) {
    .review-title {
        text-align: center;
    }
}

.review-container {
    margin: 0 80px;
}
@media screen and (max-width: 1024px) {
    .review-container {
        text-align: center;
    }
}

.rate-form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
}
@media screen and (max-width: 1024px) {
    .rate-form {
        justify-content: center;
    }
}


.rate-form input[type=radio] {
    display: none;
}

.rate-form label {
    position: relative;
    color: #ccc;
    cursor: pointer;
    font-size: 45px;
}

.rate-form label:hover {
    color: #ffcc00;
}

.rate-form label:hover~label {
    color: #ffcc00;
}

.rate-form input[type=radio]:checked~label {
    color: #ffcc00;
}

.review-submit {
    margin-top: 40px;
}

.comment-inner {
    width: 100%;
    font-size: 22px;
    border-radius: 4px;
    border: 1px solid rgb(199, 199, 199);
}

.comment_subtitle {
    margin-top: -5px;
    text-align: right;
    font-size: 13px;
}



.img-title {
    margin: auto;
    position: relative;
    border: 1px solid #ffffff;
    background-color: white;
    text-align: center;
}

.img-title_content {
    margin-top: 60px;
}
.img-title_content-item {
    margin-bottom: 50px;
}

.img-input {
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-preview {
    text-align: center;
}

.img-preview img {
    width: 40%;
}



.button {
    text-align: center;
    margin: 30px 0;
}

.form-button {
    width: 40%;
    height: 44px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
    background-color: white;
}


.error {
    color: red;
}